/* LES DIFFERENTES COULEURS */

$color-form-login: rgba(255, 255, 255, 0.8);
$color-blue: #20272d;
$color-blue-button: #323844;
$color-blue-dark: #191d22;
$color-red: #ce1919;
$color-red-dark: rgba(0, 0, 0, 0.5);
$color-section-menu: #3f3f3e;
$color-section-home: #1c1f22;
$color-grey-details: #5f5e5e;
$color-grey-dark: #5f5353;
$color-grey-light: #5e5d5d;
$color-bg-rating: #d1cfcf;
$color-star-rating: #e2e227;
$color-table: #eaeaea;
$color-add-wl: #5eb33e;
$color-add-mk: #4c85ae;
$color-hover-wl: #3e8424;
$color-hover-mk: #2b6792;
$color-del-features: #b1a5a5;
$color-del-hover: #cd2a2f;
$color-trailer: #4f4e4e;
$color-white-break: #f5f2f2;
